@import '../../../vars';

.userEdit {
	form {
		display: flex;
		flex-direction: column;
		width: 70%;
		max-width: 1000px;
		margin: 3rem auto;
		input {
			background-color: $mainBlue;
			color: $white;
			border: none;
			border-radius: 5px;
			font-size: 1.3rem;
			padding: 0.5rem;
			width: 100%;
		}
		input[type='file'] {
			display: none;
		}
		.btn {
			width: 150px;
			margin-left: auto;
			font-size: 1.5rem;
		}
		.inputGroup {
			display: grid;
			grid-template-columns: 3fr 7fr;
			align-items: center;
			margin-bottom: 2rem;
			width: 100%;
			label {
				font-size: 1.2rem;
			}
		}
		.avatarGroup {
			position: relative;
			width: 70%;
			margin-left: auto;
			margin-bottom: 2rem;
			p {
				display: block;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.5);
				color: white;
				width: 100%;
				padding: 1rem;
				top: 0;
				opacity: 0.2;
				text-align: center;
			}
			h3 {
				position: absolute;
				bottom: 1px;
				padding: 1rem;
				background-color: $black;
				color: white;
				width: 100%;
				text-align: center;
				font-weight: 400;
			}
			img {
				width: 100%;
				cursor: pointer;
				&:hover + p {
					transition: opacity 0.3s;
					opacity: 1;
				}
			}
		}
	}
}
