@import '../../../vars';

.itemForm {
	form {
		display: flex;
		flex-direction: column;
		width: 60%;
		max-width: 1000px;
		margin: 3rem auto;
		input[type='text'],
		input[type='number'],
		select {
			background-color: $mainBlue;
			color: $white;
			border: none;
			border-radius: 5px;
			font-size: 1.3rem;
			padding: 0.5rem;
			margin-bottom: 3rem;
		}
		input[placeholder='Quantity'] {
			width: 51%;
		}
		.formRow {
			display: flex;
			// align-items: center;
			justify-content: space-between;
			width: 100%;
			input {
				flex: 1;
			}
		}
		.toggleSwitch {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 41px;
			flex: 1;
			margin: 0 auto;
			font-size: 1.2rem;
		}
		.toggleLabelTablet {
			display: none;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			margin-bottom: 0;
			&:focus {
				border: none;
			}
		}
		.buttons {
			margin-left: auto;
		}
		.btn {
			width: 150px;
			margin-left: 1rem;
			font-size: 1.5rem;
		}
		.selectWrapper {
			position: relative;
			margin-bottom: 3rem;
			svg {
				position: absolute;
				right: 1rem;
				font-size: 1.8rem;
				color: $white;
				top: 7px;

				border-left: 1px solid $white;
				padding-left: 1rem;
				box-sizing: content-box;
			}
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 1.2rem;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background-color: $mainBlue;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

// input:checked + .slider {
// 	background-color: #2196f3;
// }

// input:focus + .slider {
// 	box-shadow: 0 0 1px #2196f3;
// }

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.formError {
	border: 2px solid $dangerRed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
