@import '../../../vars';
@media (max-width: 1040px) {
	.itemForm {
		form {
			width: 80%;
			.formRow {
				flex-direction: column;
				border: solid 1px $mainBlue;
				border-radius: 5px;
				margin-bottom: 3rem;
			}
			.toggleSwitch {
				margin-bottom: 1rem;
			}
			input[placeholder='Pack size'] {
				margin-bottom: 1rem;
			}
			input[placeholder='Quantity'] {
				width: 100%;
			}
			.buttons {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-left: 0;
				.btn {
					width: 100%;
					margin-left: 0;
					margin-bottom: 1rem;
				}
			}
		}
	}
}
