.model {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: grid;
  place-items: center;
}
.model .modelBox {
  background-color: #5394df;
  padding: 3rem 5rem;
  width: 40%;
  text-align: center;
}
.model .modelBox h2 {
  font-size: 2rem;
  color: #f4faff;
  margin-bottom: 1rem;
}
.model .modelBox p {
  font-size: 1.5rem;
  color: #f4faff;
  margin-bottom: 1rem;
}
.model .buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.model .buttons button {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.5rem;
}

@media (max-width: 1040px) {
  .model .modelBox {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .model .modelBox {
    width: 90%;
    padding: 3rem 1rem;
  }
  .model .modelBox p {
    margin-bottom: 1rem;
  }
  .model .buttons {
    flex-direction: column;
  }
}
