.itemForm form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1000px;
  margin: 3rem auto;
}
.itemForm form input[type=text],
.itemForm form input[type=number],
.itemForm form select {
  background-color: #5394df;
  color: #f4faff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.itemForm form input[placeholder=Quantity] {
  width: 51%;
}
.itemForm form .formRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.itemForm form .formRow input {
  flex: 1;
}
.itemForm form .toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  flex: 1;
  margin: 0 auto;
  font-size: 1.2rem;
}
.itemForm form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 0;
}
.itemForm form select:focus {
  border: none;
}
.itemForm form .btn {
  width: 200px;
  margin-left: auto;
  font-size: 1.5rem;
}
.itemForm form .selectWrapper {
  position: relative;
  margin-bottom: 3rem;
}
.itemForm form .selectWrapper svg {
  position: absolute;
  right: 1rem;
  font-size: 1.8rem;
  color: #f4faff;
  top: 50%;
  margin-top: -1.8%;
  border-left: 1px solid #f4faff;
  padding-left: 1rem;
  box-sizing: content-box;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 1.7rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #5394df;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.formError {
  border: 2px solid #d1345b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
