@import '../../../vars';

@media (max-width: 650px) {
	.toolbar {
		display: grid;
		// grid-template-columns: 1fr 1fr;

		.searchBar {
			width: 100%;
			grid-column: 1 / 5;
			margin-bottom: 1rem;
			input {
				width: 100%;
			}
		}

		.filterBar {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		button.btn {
			width: 100%;
		}
	}
}
