@import '../../../vars';

.itemsList {
	.itemRow {
		display: grid;
		grid-template-columns: 2.2fr 5fr 1fr 1fr;
		gap: 1rem;
		align-items: center;
		background-color: $mainBlue;
		color: $white;
		padding: 1rem 0.5rem;
		font-size: 1.2rem;
		margin-bottom: 5px;
		&:nth-child(2n) {
			background-color: $white;
			color: $black;
		}
		button {
			font-size: 1.2rem;
			padding: 5px;
		}
	}

	.infoButton {
		background: none;
		border: solid 1px $white;
		border-radius: 100px;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
		display: none;
		color: $white;
	}
	.itemInfoWrapper {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
	.infoPanelClose {
		display: none;
		font-size: 2.5rem;
		top: 23%;
		right: 3%;
	}
	.itemAmount {
		display: flex;
		align-items: center;

		&.locked {
			svg {
				color: darkgrey;
				cursor: not-allowed;
			}
		}
		p {
			margin: 0 1.5rem;
			img {
				width: 20px;
			}
		}
		svg {
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
}
