@import '../../../vars';

.itemsList {
	.itemRow {
		display: grid;
		grid-template-columns: 2.5fr 4fr 1.5fr 1fr 0.93fr;
		gap: 1rem;
		align-items: center;
		background-color: $mainBlue;
		color: $white;
		padding: 1rem 0.5rem;
		font-size: 1.2rem;
		margin-bottom: 5px;
		&:nth-child(2n) {
			background-color: $white;
			color: $black;
		}
		button {
			font-size: 1.2rem;
			padding: 5px;
		}
	}
	.itemAmount {
		display: flex;
		align-items: center;
		&.locked {
			svg {
				color: darkgrey;
				cursor: not-allowed;
			}
		}
		p {
			margin: 0 1.5rem;
			img {
				width: 20px;
			}
		}
		svg {
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
}
