@import '../../../vars';
@media (max-width: 1040px) {
	.itemsList {
		overflow: hidden;
		.itemRow {
			position: relative;

			grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
			transition: margin-bottom 0.3s ease-in-out;
			&.rowExtend {
				transition: margin-bottom 0.3s ease-in-out;
				margin-bottom: 7rem;
			}
			&:nth-child(2n) {
				.itemInfoWrapper {
					background-color: $white;
					color: $black;
				}
				.infoButton {
					border: solid 1px $black;
					color: $black;
				}
			}
		}
		.infoButton {
			display: block;
		}
		.itemInfoWrapper {
			position: absolute;
			background-color: $mainBlue;
			display: block;
			width: 100%;
			left: 0;
			top: 108%;
			z-index: -1;
			padding: 1rem;
			height: 1px;
			overflow: hidden;
			transition: height 0.3s ease-in-out;
			p {
				margin-bottom: 0.5rem;
			}
			&.infoOpen {
				overflow: visible;
				z-index: 0;
				height: 100px;
				top: 105%;
				transition: height 0.3s ease-in-out;
			}
		}
		.infoPanelClose {
			display: block;
			position: absolute;
		}
	}
}
