.storageForm h3 {
  margin-bottom: 2rem;
}
.storageForm .buttons {
  margin-left: auto;
}
.storageForm form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1000px;
  margin: 3rem auto;
}
.storageForm form input[type=text],
.storageForm form input[type=number],
.storageForm form select {
  background-color: #5394df;
  color: #f4faff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.storageForm form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 0;
}
.storageForm form select:focus {
  border: none;
}
.storageForm form .btn {
  width: 150px;
  margin-left: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 1040px) {
  .storageForm .buttons {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .storageForm form .btn {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .storageForm form {
    width: 90%;
  }
}
