@import '../../../vars';
.model {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
	display: grid;
	place-items: center;
	.modelBox {
		background-color: $mainBlue;
		padding: 3rem 5rem;
		width: 40%;
		text-align: center;
		h2 {
			font-size: 2rem;
			color: $white;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.5rem;
			color: $white;
			margin-bottom: 1rem;
		}
	}
	.buttons {
		width: 100%;
		display: flex;
		gap: 1rem;
		button {
			flex: 1;
			padding: 0.5rem;
			font-size: 1.5rem;
		}
	}
}
