.allStorages h1 {
  margin-bottom: 3rem;
}
.allStorages .row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  align-items: center;
  background-color: #5394df;
  color: #f4faff;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.allStorages .row:nth-child(2n) {
  background-color: #f4faff;
  color: #08090a;
}
.allStorages .row:nth-child(2n) .shelves {
  background-color: #f4faff;
  color: #08090a;
}
.allStorages .row h2 {
  font-weight: 400;
  font-size: 1.2rem;
}
.allStorages .shelfNamesContainer p {
  cursor: pointer;
  position: relative;
}
.allStorages .shelves {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #5394df;
  color: #f4faff;
  z-index: 2;
  padding: 1rem;
  padding-right: 5rem;
}
.allStorages .shelves li {
  margin-bottom: 0.5rem;
}
.allStorages .open {
  display: block;
}

@media (max-width: 600px) {
  .allStorages h1 {
    text-align: center;
  }
  .allStorages .row {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
  .allStorages .row .draws {
    margin-left: auto;
  }
  .allStorages .row .shelfNamesContainer {
    display: none;
  }
  .allStorages .row .btn {
    margin-top: 2rem;
    grid-column: 1/3;
  }
}
