.userEdit form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1000px;
  margin: 3rem auto;
}
.userEdit form input {
  background-color: #5394df;
  color: #f4faff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 100%;
}
.userEdit form input[type=file] {
  display: none;
}
.userEdit form .btn {
  width: 150px;
  margin-left: auto;
  font-size: 1.5rem;
}
.userEdit form .inputGroup {
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.userEdit form .inputGroup label {
  font-size: 1.2rem;
}
.userEdit form .avatarGroup {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-bottom: 2rem;
}
.userEdit form .avatarGroup p {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 1rem;
  top: 0;
  opacity: 0.2;
  text-align: center;
}
.userEdit form .avatarGroup h3 {
  position: absolute;
  bottom: 1px;
  padding: 1rem;
  background-color: #08090a;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 400;
}
.userEdit form .avatarGroup img {
  width: 100%;
  cursor: pointer;
}
.userEdit form .avatarGroup img:hover + p {
  transition: opacity 0.3s;
  opacity: 1;
}

@media (max-width: 850px) {
  .userEdit h1 {
    text-align: center;
  }
  .userEdit form {
    width: 90%;
  }
  .userEdit form .inputGroup {
    grid-template-columns: 1fr;
  }
  .userEdit form .avatarGroup {
    width: 100%;
  }
  .userEdit form .avatarGroup p {
    background-color: #08090a;
    opacity: 1;
  }
  .userEdit form .btn {
    width: 100%;
  }
}
