.navbar {
  position: relative;
  background-color: #5394df;
  color: #f4faff;
  margin-bottom: 5rem;
  padding: 0.7rem 0;
}
.navbar h1 {
  font-size: 1.5rem;
}
.navbar a {
  color: #f4faff;
  text-decoration: none;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.navbar .dropdown {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .dropdown p {
  cursor: pointer;
}
.navbar .dropdownLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #5394df;
  min-width: 200px;
  left: 50%;
  margin-left: -100px;
  top: -480%;
  z-index: 5;
  height: 90px;
}
.navbar .open {
  top: 155%;
}
.navbar .burger {
  display: none;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .burger div {
  width: 20px;
  height: 2px;
  background-color: #f4faff;
}
.navbar .userMini {
  display: flex;
  align-items: center;
}
.navbar .userMini img {
  width: 30px;
  margin-left: 1rem;
}

@media (max-width: 1040px) {
  .navbar nav {
    width: 40%;
  }
  .navbar .userMini .userHandle {
    display: none;
  }
}
@media (max-width: 840px) {
  .navbar {
    z-index: 2;
  }
  .navbar .container {
    justify-content: flex-end;
  }
  .navbar .container h1 {
    margin-right: auto;
    font-size: 1.2rem;
  }
  .navbar .burger {
    display: flex;
    margin-right: 0.7rem;
  }
  .navbar nav {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    background-color: #5394df;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.2rem;
    top: -400%;
    transition: top 0.3s ease-in-out;
  }
  .navbar nav.navOpen {
    top: 100%;
    transition: top 0.3s ease-in-out;
  }
  .navbar nav a {
    margin-bottom: 1rem;
  }
  .navbar nav .dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .navbar nav .dropdownLinks {
    position: relative;
    background-color: #315d8f;
    width: 100vw;
    left: 0;
    top: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    padding: 0;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  .navbar nav .dropdownLinks.open {
    height: 100px;
    padding: 1rem;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
}
