.itemsList .itemRow {
  display: grid;
  grid-template-columns: 2.5fr 4fr 1.5fr 1fr 0.93fr;
  gap: 1rem;
  align-items: center;
  background-color: #5394df;
  color: #f4faff;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.itemsList .itemRow:nth-child(2n) {
  background-color: #f4faff;
  color: #08090a;
}
.itemsList .itemRow button {
  font-size: 1.2rem;
  padding: 5px;
}
.itemsList .itemAmount {
  display: flex;
  align-items: center;
}
.itemsList .itemAmount.locked svg {
  color: darkgrey;
  cursor: not-allowed;
}
.itemsList .itemAmount p {
  margin: 0 1.5rem;
}
.itemsList .itemAmount p img {
  width: 20px;
}
.itemsList .itemAmount svg {
  font-size: 1.2rem;
  cursor: pointer;
}
