@import './vars';
.container {
	width: 80%;
	max-width: 1440px;
	margin: auto;
}

.btn {
	background: none;
	border: none;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 4px;
	border-radius: 5px;
}

.btnPrimary {
	background-color: $primaryBlue;
}
.btnWarning {
	background-color: $warningYellow;
}
.btnDanger {
	background-color: $dangerRed;
}

body {
	@include backgroundSVG;
}

.signUp,
.login {
	display: grid;
	place-items: center;
	padding-top: 10rem;
	.signUpFormBox,
	.loginFormBox {
		background-color: $mainBlue;
		padding: 3rem 5rem;
		text-align: center;
		color: $white;
		h1 {
			margin-bottom: 3rem;
		}
		button {
			width: 200px;
			font-size: 1.2rem;
			margin-left: auto;
			display: block;
			margin-top: 3rem;
		}
	}
}
