@import '../../../vars';
@media (max-width: 1040px) {
	.storageForm {
		.buttons {
			margin-left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		form {
			.btn {
				width: 100%;
				margin-left: 0;
				margin-bottom: 1rem;
			}
		}
	}
}
